<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contact.age %>
</p>

<p>
  <strong>state:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Office:</strong>
  <%= @contact.office %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
